.table{
    border-radius: 1.3em;
    overflow: hidden;
    background-color: #1D1135;
    text-align: center;
    font-family: NexaBold
}

.voteButton{
    background-color: #EF0C63!important;
    border-color: #EF0C63!important;
    color: white !important;
    font-weight: 700 !important;
    border: 2px solid #EF0C63 !important;
    min-width: 60px;
}

.voteButton:active{
    background-color: #f65392 !important;
    border-color: #f65392 !important;
    color: white !important;
    font-weight: 700 !important;
}
.voteButton:not(:disabled):not(.disabled).active, .voteButton:not(:disabled):not(.disabled):active, .show>.voteButton.dropdown-toggle{
    background-color: #f65392 !important;
    border-color: #f65392 !important;
    color: white!important;
    font-weight: 700 !important;
    box-shadow: none !important;
}

.voteButton:hover{
    background-color: #8f073b !important;
    border-color: #8f073b !important;
    color: white !important;
    font-weight: 700 !important;
}

.voteButton.focus, .voteButton:focus{
    box-shadow: none !important;
}

.h2{
    color: #444545;
}
