*{
    font-family: 'Lora'
}

.promotedTable{
    margin-top: 5rem;
    margin-left: 10%;
    margin-right: 10%;

}

.welcome{
    color: white
}

.cg{
    color: #ef0c63;
}

.h1, h1{
    font-size: 48px !important;
    
}
.h2, h2 {
    font-size:24px !important;
}

html, body {
    margin:0;
    padding:0;
    background-image: url(../../stars-1837306.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}