*{
    font-family: NexaBold
}

.topbanner2{
    margin-top: 1rem;
    margin-left: 10% !important;
    margin-right:10% !important; 
}
.promotedTable{
    color:white;
    margin-top: 25px;
    margin-left: 10%;
    margin-right:10% !important; 
}

.promotedTable h2{
    font-size: 2rem !important;
}

.coinupdate{
    color:white;
    text-align: left !important;
    padding-left: 0 !important;
    
}

.welcome{
    color: white;
    text-align: center;
    
}

.cg{
    color: #ef0c63;
}

.h1, h1{
    font-size: 48px !important;
    
}
.h2, h2 {
    font-size:24px !important;
}

html, body {
    margin:0;
    padding:0;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../../galaxy-3607885.jpg);
    background-attachment: fixed;
}

.homeBackground{
    min-height: 100vh;
}

.search{
    background-color: #6f6189;
    border-radius: 4px;
    border-color: #6f6189;
    color:white;
}

.search::placeholder{
    color: rgba(255, 255, 255, 0.3);
}
