*{
    font-family: NexaBold
}

.topbanner2{
    margin-top: 1rem;
    margin-left: 13.2% !important;
    margin-right:10% !important; 
}
.promotedTable{
    color:white;
    margin-top: 43px;
    margin-left: 10%;
    margin-right:10% !important; 
}

.promotedTable h2{
    font-size: 2rem !important;
}

.coinupdate{
    color:white;
    text-align: left !important;
    padding-left: 0 !important;
}
.welcome{
    color: white;
    text-align: center;
    
}

.cg{
    color: #ef0c63;
}

.h1, h1{
    font-size: 48px !important;
    
}
.h2, h2 {
    font-size:24px !important;
}

html, body {
    margin:0;
    padding:0;
    background-image: url(../../stars-1837306.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.homeBackground{
    min-height: 100vh;
}