.promoCard{
    background-color: #311E57 ;
    color:white;
    border-radius: 10px
}

.cardPhoto{
    display: inline-block
}

.promoCard h2{
    display: inline-block;
    margin-left: 30px;
}
.promoCard p1{
    display: inline-block;
    margin-left:130px;
}

.inqicon{
    color: #ef0c63 !important;
}