.mainCard{
    background-color: #311E57;
    color: white;
}
.sidebox{
    background-color: #1D1135;
    color: white;
}

.h3, h3{
    font-family: NexaLight;
    font-style: normal !important;
    font-weight: 200 !important;
    font-size: 1rem !important;
    line-height: 21px !important;
}

.socialButton{
    border-radius: 5px !important; 
}

.socialButton a{
    font-style: normal;
    font-weight: bold;
    font-size: 18px !important;
    line-height: 18px;
    /* identical to box height */
    color: white!important;
    text-align: center;
}

.symbol{
    color: #EF0C63;
}

.header{
    font-size: 2.3rem;
}

.desc{
    font-family:NexaLight !important
}

.subTitle{
    padding-left:115px;
    margin-top: -20px;
    font-size: 1rem!important;
}

.coinLogo{
    margin-right: 15px;
}

.votingfooter{
    display:block;
    text-align:center;
}

.arrow{
    margin-bottom: 6px;
    margin-left:10px;
}

.footerInfo{
    margin-top:5px;
    font-family: NexaLight;
    text-align:center;
    display:block;
}

.footerEmail{
    color: #EF0C63
}